body > .container {
  padding: 60px 15px 0;
}

$globalBackgroundColor: #22CB3E;
$globalFontColor: #FFFFFF;

.navbar-default, .footer {
  background-color: $globalBackgroundColor !important;

  .navbar-brand{
    color: $globalFontColor !important;
  }

  .text-muted{
    color: $globalFontColor !important;
  }
}

.navbar{
  min-height: 50px;
}

.navbar-header{
  text-align: center;
  .navi-title{
    margin: 0 auto;
    width: 100%;
  }
}


.subtite{
  border-bottom: 1px solid #000000;
}

.footer {
  //position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  font-size: 90%;
  background-color: #f5f5f5;

  >.container {
    padding-right: 15px;
    padding-left: 15px;

    .sns_button {
      .block{
        padding: 10px;
        padding-bottom: 0px;
      }
    }
  }
}

.container .text-muted {
  margin: 10px 0;
}
.text-muted {
  color: #777;
}

.center{
  text-align: center;
}

.google_ads_content{
  text-align: center;
}

.amazon_content{
  text-align: center;
}

.popular_content{

}

/*対象の属性 (view-demo) を持つ要素に追加されるCSS*/
.view-demo.ng-enter, .view-demo.ng-leave {
  -webkit-transition-duration: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition:1s;
　display:block;
  position:absolute;
}
/*コンテンツが表示される時に対象の要素に追加されるCSS(始点)*/
.view-demo.ng-enter {
  left:100%;
}
/*コンテンツが表示される時に対象の要素に追加されるCSS*/
.view-demo.ng-enter-active {
  left:0%;
}
/*コンテンツが表示されなくなる時に対象の要素に追加されるCSS(始点)*/
.view-demo.ng-leave {
  opacity: 1;
  left:0%;
}
/*コンテンツが表示されなくなる時に対象の要素に追加されるCSS*/
.view-demo.ng-leave-active {
  opacity: 0;
  left:100%;
}

.foods, .beer{

  .search_box{

    margin: 5px;
    padding: 10px;
    background-color: #DDDDDD;
    margin-left: 0px;
    margin-right: 0px;

    input[type=text]{
      width: 100%;
    }
  }
  table{
    tr{
      th, td{
        &.mobile{
          display: none;
        }
      }
      th{
        text-align: center;
      }
      td{
        &.left{
          text-align: left;
        }
        &.center{
          text-align: center;
        }
        &.right{
          text-align: right;
        }
      }
    }
  }
}

//
@media screen and (min-width: 640px) {

  .navbar-header{
    text-align: left;
    .navi-title{
      width: 200px;
    }
  }

  .popular_content{
    margin-left: 40px;
  }

  .foods, .beer{

    .search_box{
      padding: 10px;
      background-color: #DDDDDD;
      margin: 10px;
      margin-left: 0px;

      input[type=text]{
        width: 50%;
      }
    }

    table{
      tr{
        th, td {
          &.mobile {
            display: table-cell;
          }
        }
      }
    }
  }
}